@{
    ViewData["Title"] = "Home Page";
}
@model BookListModel
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h3>Book Information</h3>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Book Name</th>
            <th scope="col">Author Name</th>
            <th scope="col">Book Count</th>
        </tr>
    </thead>
    <tbody id="todos"></tbody>
    <tbody>
        @foreach (var item in Model.BookList)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.AuthorName</td>
                <td>@item.Count</td>
            </tr>
        }
    </tbody>
</table>


